/* Total Width = Content Width + Left Padding + Right Padding + Left Border + Right Border */
/* Total Width = 250 + 15*2 + 3*2 = 286 */

.card {
  width: 250px;
  border: 3px solid darkslategray;
  padding: 15px;
  margin: 20px;
}

#card-featured {
  border-style: dashed;
  border-color: crimson;
  background-color: mistyrose;
}

#card-compact {
  padding: 5px 25px;
}

h3 {
  font-family: "Times New Roman", serif;
  font-weight: bold
}

.card p {
  font-size: 1em;
  font-style: italic;

}

/* the external background color declare after the internal one so it uses the external one. */
body {
  background-color: lightyellow;
}
